body{
    margin: 0;
    padding: 0;
}

/* ERROR */
.error {
    padding: 10px;
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    /* margin-left: 10px; */
    font-size: 14px;
}

 .navbar{
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     background-color: #3274d6;
     width: 100%;
     height: 70px;
     z-index: 1;
 }
 .nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
 }
 .logo{
     flex: 1 1 auto;
     margin-left: 10%;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: bold;
     font-size: 35px;

 }
 a{
     margin: 15px;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
 }
 a:hover{
     color: #FBB434;
 }
 .banner-area{
     position: relative;
     background-image: url(images/image.jpg);
     width: 100%;
     height: 100vh;
     background-repeat:no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
 }
 .other-banner-area{
  position: relative;
  background-image: url(images/image.jpg);
  width: 100%;
  padding-top: 100px;
  height: 200px;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
 .about-area, .service-area, .blog-area, .contact-area, .faq-area{
     position: relative;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: row;
     width: 100%;
     margin-bottom: 30px;
     /* height: 700px; */
 }
 .text-part{
     width: 65%;
     height: 80%;
 }
 h1{
     font-size: 30px;
     color: #3274d6;
}
p{
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #3274d6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #FBB434;
  }

  label {
    display: block;
    margin: 1px;  
    /* padding-left: 10px; */
  }
  

.about-area, .faq-area .contact-area{
    background: #fefefe;
}
.service-area, .blog-area{
    background: #F7F7F7;
    color: #fff;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    background-color: #555555;
    color: white;
    text-align: center;
 }

/* FAQ part */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.blog-content{
  height: 200px;
  width: 100%;
  background-color: #3274d6;
  /* background-color: #444; */
}
 



.btn{
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
.btn:hover{
  /* color: black; */
  background-color:#FFCC66 ;
  opacity: 1;
}