a:hover /* Apparence au survol des liens */ 
{   text-decoration: underline;   color: green; }
a:active /* Quand le visiteur clique sur le lien */ 
{    background-color: #FFCC66; }
a:focus /* Quand le visiteur sélectionne le lien */ 
{    background-color: #FFCC66; }


